*{box-sizing:border-box;}

body{
background-color:powderblue;
font-family:cambria;
padding:10px;
}

/* style the top navigation bar*/
.topnav{
overflow:hidden;
background-color:black;
padding:10px;
height:30px;
width:100px;
}

/*style the topnav links*/
.topnav a{
float:center;
display:block;
text-align:center;

text-decoration:none;
}

/*chnage color on hover*/
.topnav a:hover{
background-color:#ddd;
color:black;
}

/*Footer*/
.footer{
padding:1px;
text-align:center;
background:#ddd;
margin-top:10px;
}

img src{
image-align:center;
padding:10px;
}